<!doctype html>
<html lang="en">
  <head>
  	{% load static %}
  	<!--<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>  -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>	
  	<script type="text/javascript" src="{% static 'js/sjcl.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
	<!--<script type="text/javascript" src="{% static 'js/jsencrypt.js' %}"></script>-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jsencrypt/2.3.1/jsencrypt.min.js"></script>
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/forge/0.10.0/forge.min.js"></script>-->
	<!--  <script type="text/javascript" src="{% static 'js/jquery-image-blob.min.js' %}"></script>-->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Patient form</title>
  </head>
  <body>
    <div class="container d-flex h-100">
      <div class="row justify-content-center">
        <div>
          <h1> Medical Health Record</h1>
          {% block main %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
